.wrapper {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  margin: 10px 0;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
  user-select: none;
  cursor: pointer;
}

.item {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: teal;
}

.completedTodo {
  background-color: unset;
  border-color: gray;
  color: gray;
}

.wrapper.completedTodo .todoIcon,
.wrapper.completedTodo .editIcon,
.wrapper.completedTodo .checkIcon,
.wrapper.completedTodo .deleteIcon {
  color: gray;
}

.editIcon,
.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.editIcon:hover,
.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.editIcon:hover {
  color: rgb(126, 12, 201);
}
.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}

.date {
  color: rgb(214, 214, 228);
  font-size: 10px;
  text-align: center;
}
