.button {
  margin: 10px;
  height: 48px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.8rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: rgb(81, 81, 81);
  font-weight: 700;
}
.button:hover {
  background-color: rgb(29, 125, 47);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px #ccc;
}
.button:active {
  background-color: rgb(19, 98, 34);
  scale: 0.98;
  box-shadow: 1px 1px 1px #ccc;
}
.button1.focus {
  background-color: rgb(19, 98, 34);
  scale: 0.98;
  box-shadow: 1px 1px 1px #ccc;
}
