/* .button1,
.button2 {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  width: 30%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
  font-size: 1rem;
}
.button1:hover,
.button2:hover {
  background-color: rgb(163, 48, 22);
  transition: ease-in-out;
  scale: 1.1;
  color: rgb(244, 247, 34);
}

.button1 {
  background-color: rgb(214, 59, 24);
}
.button1:hover {
  background-color: rgb(163, 48, 22);
  font-weight: bold;
}

.button2 {
  background-color: rgb(29, 125, 47);
}
.button2:hover {
  background-color: rgb(15, 94, 29);
  font-weight: bold;
} */

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 16em;
  cursor: pointer;
  background-color: beige;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.close {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 2px;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #ccc;
}
.close:hover {
  box-shadow: 1px 1px 1px #ccc;
  font-weight: bold;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}

.modalContent {
  margin-bottom: 0.8rem;
}

.modalFooter {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  padding: 0px 10px;
}

p {
  color: black;
  font-size: 16px;
  text-align: center;
}

.button1,
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 5px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0 1px #fff;
}

.button1 {
  color: rgb(214, 59, 24);
}
.button2 {
  color: rgb(29, 125, 47);
}

.button1:hover,
.button2:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.button1:active,
.button2:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button1.focus,
.button2.focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
