.button1 {
  margin: 5px 20px;
  margin: 5px 20px;
  height: 45px;
  cursor: pointer;
  background-color: rgb(214, 59, 24);
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.button1:hover {
  background-color: rgb(163, 48, 22);
  transition: ease-in-out;
  scale: 1.1;
  transition: ease-in-out;
  scale: 1.1;
  color: rgb(244, 247, 34);
}

.button2 {
  margin: 5px 20px;
  margin: 5px 20px;
  height: 45px;
  cursor: pointer;
  background-color: rgb(29, 125, 47);
  font-size: 1.5rem;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.button2:hover {
  background-color: rgb(15, 94, 29);
  scale: 1.1;
  transition: ease-in-out;
  scale: 1.1;
  transition: ease-in-out;
  color: rgb(244, 247, 34);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 1;
  height: 100px;
  width: 240px;
  cursor: pointer;
  background-color: beige;
  background-color: beige;
  font-size: 1.5rem;
  padding: 2px 2px;
  /* border: none; */
  padding: 2px 2px;
  /* border: none; */
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
